flows_Tamara-PC.json
[{"id":"d96b6683.38d5b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c736b662.fe3e98","type":"ui_tab","name":"Chores","icon":"dashboard","disabled":false,"hidden":false},{"id":"d9034710.6a4218","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"26944352.fe9e8c","type":"ui_group","name":"Daily","tab":"c736b662.fe3e98","order":1,"disp":true,"width":"6","collapse":false},{"id":"9e0fc878.253058","type":"ui_group","name":"Weekly","tab":"c736b662.fe3e98","order":2,"disp":true,"width":"6","collapse":false},{"id":"7a4b3a00.2b7748","type":"ui_group","name":"Housekeeping","tab":"c736b662.fe3e98","order":3,"disp":true,"width":"6","collapse":false},{"id":"a97c4836.86e8c8","type":"inject","z":"d96b6683.38d5b8","name":"ChoreTrackerDaily","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":200,"y":220,"wires":[["7cc9382.5ee16c8","8c70d5e.b9e5928","cc172fad.c7dfe","e4ff3521.447df8","c893e722.6e6358","2852edc4.a172b2","aec12ee1.3b959","d291e4b5.0bed28","ece1875b.122ce8","dad2e3e7.82b9a","3a8dd9bf.a407d6"]]},{"id":"e33b2516.8180f8","type":"inject","z":"d96b6683.38d5b8","name":"ChoreTrackerWeekly","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"604800","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":220,"y":820,"wires":[["1db307ed.94ff38","bdfdb1fc.876ea","4c847f20.8ddef","9e0a65f.3e9b498","1f1b96c8.e28409"]]},{"id":"7cc9382.5ee16c8","type":"ui_switch","z":"d96b6683.38d5b8","name":"","label":"Dog Breakfast","tooltip":"","group":"26944352.fe9e8c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":510,"y":180,"wires":[[]]},{"id":"cc172fad.c7dfe","type":"ui_switch","z":"d96b6683.38d5b8","name":"","label":"Dog Morning Play","tooltip":"","group":"26944352.fe9e8c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":520,"y":260,"wires":[[]]},{"id":"8c70d5e.b9e5928","type":"ui_switch","z":"d96b6683.38d5b8","name":"","label":"Dog Dinner","tooltip":"","group":"26944352.fe9e8c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":500,"y":220,"wires":[[]]},{"id":"e4ff3521.447df8","type":"ui_switch","z":"d96b6683.38d5b8","name":"","label":"Dog Afternoon Play","tooltip":"","group":"26944352.fe9e8c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":520,"y":300,"wires":[[]]},{"id":"c893e722.6e6358","type":"ui_switch","z":"d96b6683.38d5b8","name":"","label":"Dishes","tooltip":"","group":"26944352.fe9e8c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":480,"y":340,"wires":[[]]},{"id":"2852edc4.a172b2","type":"ui_switch","z":"d96b6683.38d5b8","name":"","label":"Vacuuming","tooltip":"","group":"26944352.fe9e8c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":500,"y":380,"wires":[[]]},{"id":"1db307ed.94ff38","type":"ui_switch","z":"d96b6683.38d5b8","name":"","label":"Laundry","tooltip":"","group":"9e0fc878.253058","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":480,"y":860,"wires":[[]]},{"id":"bdfdb1fc.876ea","type":"ui_switch","z":"d96b6683.38d5b8","name":"","label":"Groceries","tooltip":"","group":"9e0fc878.253058","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":480,"y":900,"wires":[[]]},{"id":"4c847f20.8ddef","type":"ui_switch","z":"d96b6683.38d5b8","name":"","label":"Trash","tooltip":"","group":"9e0fc878.253058","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":470,"y":940,"wires":[[]]},{"id":"9e0a65f.3e9b498","type":"ui_switch","z":"d96b6683.38d5b8","name":"","label":"Recycling","tooltip":"","group":"9e0fc878.253058","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":480,"y":980,"wires":[[]]},{"id":"aec12ee1.3b959","type":"ui_switch","z":"d96b6683.38d5b8","name":"","label":"Feed Fish","tooltip":"","group":"26944352.fe9e8c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":490,"y":420,"wires":[[]]},{"id":"1f1b96c8.e28409","type":"ui_switch","z":"d96b6683.38d5b8","name":"","label":"Water Change","tooltip":"","group":"9e0fc878.253058","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":500,"y":1020,"wires":[[]]},{"id":"d291e4b5.0bed28","type":"ui_switch","z":"d96b6683.38d5b8","name":"","label":"Cat Dinner","tooltip":"","group":"26944352.fe9e8c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":490,"y":460,"wires":[[]]},{"id":"dad2e3e7.82b9a","type":"ui_switch","z":"d96b6683.38d5b8","name":"","label":"Basil Meds Morning","tooltip":"","group":"26944352.fe9e8c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":510,"y":100,"wires":[[]]},{"id":"ece1875b.122ce8","type":"ui_switch","z":"d96b6683.38d5b8","name":"","label":"Basil Meds Night","tooltip":"","group":"26944352.fe9e8c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":510,"y":140,"wires":[[]]},{"id":"8caa98f2.461f48","type":"ui_clock","z":"d96b6683.38d5b8","name":"","group":"7a4b3a00.2b7748","order":0,"width":0,"height":0,"x":510,"y":580,"wires":[]},{"id":"7eaa2c1f.7d88c4","type":"inject","z":"d96b6683.38d5b8","name":"ClockyBoy","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":600,"wires":[["8caa98f2.461f48","5afe9417.42c68c"]]},{"id":"4b6a079f.a0bdf8","type":"ui_text","z":"d96b6683.38d5b8","group":"7a4b3a00.2b7748","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":660,"wires":[]},{"id":"5afe9417.42c68c","type":"moment","z":"d96b6683.38d5b8","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Los_Angeles","adjAmount":0,"adjType":"days","adjDir":"add","format":"dddd, MMMM Do YYYY, h:mm:ss a","locale":"en-US","output":"","outputType":"msg","outTz":"America/Los_Angeles","x":410,"y":620,"wires":[["4b6a079f.a0bdf8"]]},{"id":"3a8dd9bf.a407d6","type":"ui_switch","z":"d96b6683.38d5b8","name":"","label":"Scoop the Goop","tooltip":"","group":"26944352.fe9e8c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":500,"y":500,"wires":[[]]}]